{% extends "header.html" %}
{% load bootstrap5 %}
{% block header %}

<main class="container">
  {%if request.user.is_authenticated%}
  <div class="bg-body-tertiary p-5 rounded">
    
      <h1 class="title"> {{ title }}</h1>
      <div class="row">
        <div class="col-sm-6">
          <form method="post" action="">
            {% csrf_token %}
            {{ form.media }}
            {% for field in form %}
            <div class="col-sm-12 form-group">
              {% bootstrap_field field %}
            </div>
            {% endfor %}
            <input class="btn btn-bd-primary" type="submit" value="Save" />
          </form>
        </div>
        <div class="col-sm-6 aligncenter">
          <img style="width: 100%" src="../static/img/pc.png">
       </div>
          
      </div>
   
  </div>
  {%else%}
  <p>Log in <a href="/accounts/login">here</a></p>
  {%endif%}
</main>


{% endblock header %}
