<html>
    {{title}}
    <table>
        <tr>
            <th>#</th>
            <th>PC NAME</th>
            <th>MAC ADDR</th>
            <th>IP ADDRESS</th>
            <th>USER’S NAME</th>
            <th>LOCATION</th>
        </tr>
        {% for instance in queryset %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.Computer_name}}</td>
            <td>{{instance.MAC_address}}</td>
            <td>{{instance.IP_address}}</td>
            <td>{{instance.users_name}}</td>
            <td>{{instance.location}}</td>
        </tr>
        {% endfor %}
    </table>
</html>