<style>
  #settings{
    background-color: #212529;
    color: white;
   text-align: center;
   display: inline;
    font-weight: bolder;
    padding-top: 5px;
   padding-bottom: 5px;
    padding-left: 20px;
   padding-right: 5px;
   position: fixed;
    bottom: 0px;
    left: -80px;
    z-index: 3000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  
  #settings:hover{
      left: 0px;
      -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
              transition: all 0.5s ease;
  }
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CIMS v 1.1.0</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {%if request.user.is_authenticated%}
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/computer_list">Computer List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/computer_entry">Computer Entry</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {%endif%}
        
        <ul class="navbar-nav ml-auto mb-2 mb-md-0 logout-menu">
          <li class="nav-item">
            {%if request.user.is_authenticated%}
            <a class="nav-link" href="/accounts/logout/">Log out</a>
            {%else%}
            <a class="nav-link" href="/accounts/login/">Log in</a>
            {%endif%}
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

{% if request.user.is_authenticated %}
      <a href="/settings"> 
        <div id="settings">
              Settings<img style="height: 30px;" src="/static/img/settings.png">
        </div>
      </a>
{% endif %}