{% load static %}
<head>
  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CIMS v1.1.0</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {%if request.user.is_authenticated%}
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/computer_list">Computer List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/computer_entry">Computer Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/computerhistory_list">Computer history</a>
          </li>
        </ul>
        {%endif%}
        
        <ul class="navbar-nav ml-auto mb-2 mb-md-0 logout-menu">
          <li class="nav-item">
            {%if request.user.is_authenticated%}
            <a class="nav-link" href="/accounts/logout/"><button class="btn btn-danger">{{user}} | Log out</button></a>
          </li>
        </ul> 
        {%else%}
        <ul class="navbar-nav ml-auto">
          <li>
            <a class="nav-link me-0" href="/accounts/login/"><button class="btn btn-success">Log in</button></a>
            {%endif%}
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

{% if request.user.is_authenticated %}
      <a href="/settings"> 
        <div id="settings">
              Settings<img style="height: 30px;" src="/static/img/settings.png">
        </div>
      </a>
{% endif %}