asgiref==3.7.2
beautifulsoup4==4.12.2
distlib==0.3.7
Django==4.2.5
django-bootstrap-v5==1.0.11
django-bootstrap4==23.2
django-crispy-forms==2.0
django-registration-redux==2.12
filelock==3.12.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
platformdirs==3.10.0
protobuf==4.21.12
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
